
# include anything in here that is not automatically picked up by distutils
include MANIFEST.in
include credits.txt
include README.txt
include INSTALL.unix.txt
include BUILD.windows.txt
include LICENSE.txt
include todo.txt
include winsetup.py
include bittorrent
include bittorrent.nsi

# include all top level scripts
include btdownloadlibrary.py
include btdownloadheadless.py
include btdownloadgui.py
include btdownloadprefetched.py
include btpublish.py
include bttrack.py
include bttest.py
