# include anything in here that is not automatically picked up by distutils
include BitTorrent/__init__.py

# images and icons, visual stuff
include images/bittorrent.ico images/*.png
include images/logo/bittorrent_[0-9]*.png

# documentation stuffs
include credits.txt LICENSE.txt README.txt redirdonate.html INSTALL.unix.txt MANIFEST.in

# include windows build stuffs in the source
include bittorrent.nsi build.bat winsetup.py BUILD.windows.txt

# include all top level scripts
include btdownloadheadless.py
include btdownloadgui.py
include btdownloadcurses.py
include btmakemetafile.py
include btmaketorrentgui.py
include btmaketorrent.py
include bttrack.py
include btlaunchmany.py
include btlaunchmanycurses.py
include btreannounce.py
include btrename.py
include btshowmetainfo.py